---
layout: default
---

<div class="jumbotron">
  <h1>
    <span class="fa fa-bicycle"></span>
    <img src="{{ "/images/logo.svg" | prepend: site.baseurl }}"
         alt="{{ site.title }}"
         width="500px" style="max-width:80%;"></img>
  </h1>
  <p>{{ site.description }}</p>
</div>

<div class="row">

  <!-- MitRadGelegenheiten -->
  <div class="col-xs-12 col-md-5">
    <h3>
      <span class="fa fa-calendar"></span>
      MitRadGelegenheiten<br>
      <small>Einmalige, jährliche und monatliche Fahrten.</small>
    </h3>
    <dl>
      {% assign posts = site.categories.mitradgelegenheit | sort: 'date'  %}
      {% for post in posts %}
        {% if post.date >= site.time %}
          <dt>
            <h4>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <small>{{ post.date | date: "%d.%m.%Y" }}</small>
            </h4>
          </dt>
          <dd>
            {% if post.teaser %}
              {{ post.teaser }}
            {% endif %}
          </dd>
        {% endif %}
      {% endfor %}
    </dl>
    <p>
      <a href="{{ "/mitradgelegenheit/neu/" | prepend: site.baseurl }}"
         class="btn btn-primary" rote="button">
        <span class="fa fa-plus"></span>
        Neu
      </a>
      <a href="{{ "/mitradgelegenheit/archive/2015/" | prepend: site.baseurl }}"
         class="btn btn-primary" rote="button">
        <span class="fa fa-archive"></span>
        Archiv
      </a>
    </p>
  </div>

  <!-- MitRadPendeln -->
  <div class="col-xs-12 col-md-4">
    <h3>
      <span class="fa fa-exchange"></span>
      MitRadPendeln<br>
      <small>Tägliche und wöchentliche Fahrten.</small>
    </h3>
    <dl>
      {% for post in site.categories.mitradpendeln | sort: 'date' | reverse %}
        <dt>
          <h4>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <br>
            {% if post.date >= site.time %}
              <small>ab {{ post.date | date: "%d.%m.%Y" }}</small>
            {% else %}
              <small>seit {{ post.date | date: "%d.%m.%Y" }}</small>
            {% endif %}
          </h4>
        </dt>
        <dd>
          {% if post.teaser %}
            {{ post.teaser }}
          {% endif %}
        </dd>
      {% endfor %}
    </dl>
    <p>
      <a href="{{ "/mitradpendeln/neu/" | prepend: site.baseurl }}"
         class="btn btn-primary" rote="button">
        <span class="fa fa-plus"></span>
        Neu
      </a>
    </p>
  </div>

  <!-- Description -->
  <div class="col-xs-12 col-md-3">
    <h4>
      <span class="fa fa-question-circle"></span>
      Mit Rad Was?
    </h4>
    <p>MitRadGelegenheiten bedeuten, sich bei Fahrten im Alltag
    zusammenzuschließen um sie <strong>gemeinsam und sicher</strong>
    zu bewältigen.  Gemeinsam fährt es sich sicherer und je mehr
    Menschen radfahren, desto sicherer wird es für alle (Safety in
    Numbers).</p>

    <!-- News -->
    <h4>
      <span class="fa fa-newspaper-o"></span>
      Neuigkeiten
    </h4>
    <p>… gibt es in unserem
    <strong><a href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a></strong>
    sowie bei
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>
    und
    <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">Facebook</a>.
    </p>
  </div>
</div>
