---
layout: default
---

<div class="jumbotron">
  <h1>
    <span class="fa fa-bicycle"></span> {{ site.title }}
  </h1>
  <p>{{ site.description }}</p>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h3>
      <span class="fa fa-calendar"></span>
      MitRadGelegenheiten
    </h3>
    <ul>
      {% assign posts = site.categories.mitradgelegenheit | sort: 'date'  %}
      {% for post in posts %}
        {% if post.date >= site.time %}
          <li>
            <h4>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <small>{{ post.date | date: "%d.%m.%Y" }}</small>
            </h4>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <p>
      <strong>
        <a href="{{ "/mitradgelegenheit/archive/" | prepend: site.baseurl }}">
          <span class="fa fa-archive"></span>
          Archiv
        </a>
      </strong>
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
    <h3>
      <span class="fa fa-newspaper-o"></span>
      Blog
    </h3>
    <ul>
      {% for post in site.categories.blog | sort: 'date' | reverse %}
        <li>
          <h4>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <small>{{ post.date | date: "%d.%m.%Y" }}</small>
          </h4>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row" style="margin-top: 5em;">
  <div class="col-xs-12">
    <h4>
      <span class="fa fa-external-link"></span>
      Fahrrad in der Region
    </h4>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <dl>
      <dt>Blogs</dt>
      <dd>
        <a href="http://dasfahrradblog.blogspot.de/" target="_blank">Radfahren in Stuttgart</a>
      </dd>
      <dd>
        <a href="http://carl-vs-karl.de/" target="_blank">Carl vs Karl</a>,
        <small>Fakten zu Fahrrad- und urbaner Mobilität</small>
      </dd>
    </dl>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <dl>
      <dt>Vereine</dt>
      <dd>
        <a href="http://www.adfc-bw.de/adfc-vor-ort/" target="_blank">Allgemeiner Deutscher Fahrrad-Club (ADFC)</a>
      </dd>
      <dd>
        <a href="http://www.vcd-bw.de/vcd/kv/index.html" target="_blank">Vekehrsclub Deutschland (VCD)</a>
      </dd>
    </dl>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <dl>
      <dt>Projekte</dt>
      <dd>
        <a href="http://fahrradbus.com/" target="_blank">Fahrradbus</a>,
        <small>ein modular aufgebautes Muskelkraftfahrzeug</small>
      </dd>
      <dd>
        <a href="http://overpass-turbo.eu/s/7I2" target="_blank">Übersicht der Fahrradläden</a>
      </dd>
    </dl>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <dl>
      <dt>Critical Mass</dt>
      <dd>
        <a href="https://criticalmassstuttgart.wordpress.com/" target="_blank">Stuttgart</a>,
        <small>jeden 1. Freitag im Monat</small>
      </dd>
      <dd>
        <a href="https://criticalmassheilbronn.wordpress.com/" target="_blank">Heilbronn</a>,
        <small>jeden 1. Freitag im Monat</small>
      </dd>
      <dd>
        <a href="https://criticalmassherrenberg.wordpress.com/" target="_blank">Herrenberg</a>,
        <small>jeden 2. Freitag im Monat</small>
      </dd>
      <dd>
        <a href="https://criticalmassreutlingen.wordpress.com/" target="_blank">Reutlingen</a>,
        <small>jeden letzten Freitag im Monat</small>
      </dd>
      <dd>
        <a href="http://www.radeln-in-bb.de/criticalmass/" target="_blank">Böblingen</a>,
        <small>jeden letzten Freitag im Monat</small>
      </dd>
      <dd>
        <a href="https://www.facebook.com/pages/Critical-Mass-Heidenheim/460201734115062" target="_blank">Heidenheim</a>,
        <small>jeden letzten Freitag im Monat</small>
      </dd>
      <dd>
        <a href="https://www.facebook.com/pages/Critical-Mass-Freudenstadt/251366075070168" target="_blank">Freudenstadt</a>,
        <small>derzeit nicht aktiv</small>
      </dd>
      <dd>
        <a href="https://criticalmasspf.wordpress.com/" target="_blank">Pforzheim</a>,
        <small>derzeit nicht aktiv</small>
      </dd>
    </dl>
  </div>

</div>
