---
layout: default
---

<div class="jumbotron">
  <h1>
    <span class="fa fa-bicycle"></span>
    <img src="{{ "/images/logo.svg" | prepend: site.baseurl }}"
         alt="{{ site.title }}"
         width="500px" style="max-width:80%;"></img>
  </h1>
  <p>{{ site.description }}</p>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h3>
      <span class="fa fa-calendar"></span>
      MitRadGelegenheiten
    </h3>
    <ul>
      {% assign posts = site.categories.mitradgelegenheit | sort: 'date'  %}
      {% for post in posts %}
        {% if post.date >= site.time %}
          <li>
            <h4>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <small>{{ post.date | date: "%d.%m.%Y" }}</small>
            </h4>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <p>
      <strong>
        <a href="{{ "/mitradgelegenheit/archive/" | prepend: site.baseurl }}">
          <span class="fa fa-archive"></span>
          Archiv
        </a>
      </strong>
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
    <h3>
      <span class="fa fa-newspaper-o"></span>
      Blog
    </h3>
    <ul>
      {% for post in site.categories.blog | sort: 'date' | reverse %}
        <li>
          <h4>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <small>{{ post.date | date: "%d.%m.%Y" }}</small>
          </h4>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
