<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}

    <script src="{{ "/vendor/js/shariff.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/vendor/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/vendor/js/mapbox.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/map.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/vendor/js/d3.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
      var u="//cdn-mrs.michael-kaeufl.de/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//cdn-mrs.michael-kaeufl.de/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  </body>

</html>
