---
layout: default
---
<header class="page-header">
  <div class="row">

    <div class="col-xs-12 col-md-10">
      <h1>
        {{ page.title }}
        <br>
        <ul class="list-inline">
          <li>
            <small>{{ page.date | date: "%d.%m.%Y" }}</small>
          </li>
          {% if page.facebook-event %}
            <li><small>·</small></li>
            <li>
              <small>
                <a href="{{ page.facebook-event }}" target="_blank"
                   style="white-space: nowrap;">
                  <span class="fa fa-facebook-square"></span>-Veranstaltung
                </a>
              </small>
            </li>
          {% endif %}
        </ul>
      </h1>
    </div>

    <div class="shariff col-xs-12 col-md-2" data-lang="en"
         data-twitter-via="MitRadStuttgart"
         data-services="[&quot;twitter&quot;,&quot;facebook&quot;,&quot;googleplus&quot;]">
    </div>

  </div>
</header>

<article markdown="block">
  {{ content }}
  {% if page.routes %}
    <h3 id="zustiegsmoeglichkeiten">Zustiegsmöglichkeiten</h3>
    {% if page.routes.size > 2 %}
      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          {% for route in page.routes %}
            <li role="presentation" {% if forloop.first %} class="active"{% endif %}>
              <a href="#{{ route.id }}" aria-controls="{{ route.id }}" role="tab" data-toggle="tab" class="btn btn-primary">
                {{ route.heading }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
    {% else %}
      <div class="row">
    {% endif %}

    {% for route in page.routes %}
      {% capture group %}{% cycle 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight' %}{% endcapture %}

      {% if page.routes.size > 2 %}
        <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ route.id }}">
      {% elsif page.routes.size == 2 %}
        <div class="col-xs-12 col-md-6">
        <h4>{{ route.heading }}</h4>
      {% else %}
        <div class="col-xs-12">
        <h4>{{ route.heading }}</h4>
      {% endif %}

        <div class="panel-group" id="accordion{{ group }}" role="tablist" aria-multiselectable="true">
          {% if route.stops %}{% for stop in route.stops %}
            {% include meeting-point-open.html group=group id=stop.id place=stop.place point=stop.point time=stop.time expanded=forloop.first %}
              {% if stop.description %}{% for description in stop.description %}
                <p>{{ description }}</p>
              {% endfor %}{% endif %}
              {% if stop.image.url %}
                {% include meeting-point-image.html url=stop.image.url alt=stop.image.alt %}
              {% endif %}
            {% include meeting-point-close.html %}
          {% endfor %}{% endif %}
        </div>
      </div>
    {% endfor %}

    {% if page.routes.size > 2 %}
      </div>
    {% endif %}
    </div>
  {% endif %}

  {% if page.map.source %}
    <h3 id="karte">Karte</h3>

    {% include map.html %}

    <div id="mitradmap" style="width:100%; height: 100px;"></div>

    <script>
      $(document).ready(function(){
        makeMap(
          "{{ page.map.source }}",
          "mitradmap",
          [
            {% if page.map.stops %}{% for stop in page.map.stops %}
              "{{ stop }}"{% if forloop.last == false %},{% endif %}
            {% endfor %}{% endif %}
          ]
        );
      });
    </script>
  {% endif %}
</article>

<!-- Comments -->
<div class="row">
  <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
  <div class="col-xs-12 col-md-10 col-lg-8">
    <script>
      var idcomments_acct = '5a030a45cae91d02887055eb9c4d7f39';
      var idcomments_post_id;
      var idcomments_post_url;
    </script>
    <span id="IDCommentsPostTitle" style="display:none">
      {{ page.title }}
    </span>
    <script type='text/javascript'
            src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'>
    </script>
  </div>
  <div class="hidden-xs hidden-sm col-md-1 col-lg-2">&nbsp;</div>
</div>
